.map{
    width: 90%;
    border-radius: 7px;
    align-items: center;
    background-color: rgb(235, 230, 230);
    margin: 0 auto;
    margin-bottom: 20px;
}
ion-text{
    font-size: 12px;
    color: #666;
}
//地址卡片
.card{
    width: 90%;
    margin: 10px auto;
    border-radius: 7px;
    border:1px solid rgb(235, 230, 230);
    box-shadow: 5px 5px 10px #888888 ;
}
span{
font-size: 12px;
font-weight: 700;
color: #333;
ion-text{
    font-size: 10px;
    color: #666;
}
}
//通栏
.toolbar{
    width:100%;
    position: relative;
    height: 80px;
    background-image:  url("../../../assets//HdImage/tab2Banner.png") ;
    background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
  }
  
  // 去掉顶部banner边框
  ion-toolbar {
    --padding-start:0px;
    --padding-end:0px;
    --padding-buttom:0px;
    --padding-top:0px;
  }
  // 标题文字
  h4{
    position: absolute;
    top:8px;
    left:50%;
    transform: translateX(-50%);    
  }