<ion-header style="margin-top: 10px;">
  <ion-toolbar style="position: relative;">
    <ion-back-button></ion-back-button>
      <ion-title>支付</ion-title>

  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card>
    <ion-item class="card"  *ngFor="let item of mainAddress"  [routerLink]="['/address']"> 
      <div style="position:relative;width:90%;display: flex;flex-direction: row;align-items: center;"  (click)="switch(item.addressId)">
        <ion-icon   class="img" src="../../../assets/HdImage/收货位置.svg" style="font-size: 24px;" ></ion-icon> 
        <div>
          <span> <ion-text style="margin-left: 10px;">{{item.name}}</ion-text></span> 
          <span><ion-text style="margin-left: 24px;">{{item.Tmobile}}</ion-text></span><br>
          <span><ion-text style="margin-left: 10px;">{{item.addr}}</ion-text></span><br>
        </div>
      </div>
    </ion-item>
    <ion-item [routerLink]="[]" (click)="choiceTime()">
      <ion-label>{{timeText}}</ion-label>
      <ion-text>{{time}}</ion-text>
    </ion-item>
    <ion-item [routerLink]="[]">
      <ion-label>订单备注</ion-label>
      <ion-input class="remark"></ion-input>
    </ion-item>
    <ion-item  [routerLink]="[]" (click)="tool()">
      <ion-label>餐具份数</ion-label>   
      <ion-text>{{toolNum}}</ion-text>
    </ion-item>
    <ion-item lines="none" >
      <ion-label style="font-size: 14px;">温馨提示</ion-label>
    </ion-item>
    <div   class="row7">
      <div>米饭:只要购买了菜品，默认送一份饭。如需多份，请备注</div>
      <div>优惠:全场9折，为全校师生加油</div>
      <div>食无忧:所有餐品均来自于食堂，卫生可供保障</div>
      <div>时间快:若不是预约单号，可在15分钟之内送达</div>
      <div>取消订单:必须在两分钟之内取消</div>
      <div>送餐时间11:00-14:00,17:00-24:00</div>
    </div>
  </ion-card>
 <ion-item class="bottom">

    <ion-text>原价 <span style="color:red;text-decoration: line-through; font-size: 16px;">￥{{allMoney}}</span> </ion-text>
    <ion-text style="">|现价 <span style="color:#15c185;font-size: 16px;">￥{{nowMoney}}</span> </ion-text>
    <ion-button class="button" color="secondary" (click)="submit()">确认支付</ion-button>

   
 </ion-item>
 


</ion-content>



