//通栏

.toolbar{
  width:100%;
 
  position: relative;
  
  margin-bottom: 19px;
}
.toolbar h4{
  position: absolute;
  top:8px;
  left:50%;
  transform: translateX(-50%);
}
//地址卡片
.card{

  margin: 10px auto;
  // border-radius: 7px;
  // border:1px solid rgb(235, 230, 230);
  // box-shadow: 5px 5px 10px #888888 ;
  position: relative;
}
span{
font-size: 12px;
font-weight: 700;
color: #666;
ion-text{
  
}
}
//左边图片
.img{
  width: 50px;
height: 50px;
border-radius: 7px;
margin-left: 7px;
}
.arrow{
  position: absolute;
  font-size: 35px;
  color: #15c185;
  right: -17px;
}
.bottom{
  border-top: 1px solid rgb(216, 214, 214);
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.row7{
  color: #666;
  font-size: 11px;
  margin-bottom: 20px;
  display: flex;
 
  flex-direction: column;
  :before{
    content:"●";
    // width: 30px;
    // height: 30px;
    font-size: 20px;
    border-radius: 50%;
    color: #7970FE;
    font-weight: 500;
  }
  div{
    font-size: 12px;
    font-weight: 600;
    color: #666;
    margin-top: -7px;
    margin-left: 20px;
  }
  top: -14px;
  
}
.okButton{
  position: absolute;
  right: 10px;
  font-size: 16px;
}
ion-input{
  font-size: 14px;
  color: #333;
}
ion-text{
  font-size: 14px;
  color: #333;
}