ion-icon{
    width:30px;
    height:30px;
  }
  .balance{
    width:85%;
    height:130px;
    margin:20px auto;
    border-radius:8px;
    box-shadow: 0px 0px 12px #d7dcf0;
  }
  ion-label{
    margin:10px 20px;
  }
  .balance p{
    text-align: center;
    line-height:40px;
    color:  #1567ff;
    font-size: 22px;
  }
  