// 顶部banner背景
.toolbar{
  width:100%;
  text-align: center;
  position: relative;
  height: 240px;
  background-image:  url("../../../assets/images/产品banner背景.png") ;
  background-size: cover;
  -webkit-background-size: cover;
  overflow: hidden;
  margin-bottom: 19px;
}
.toolbarAcount{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: row;
}
ion-text{
  font-size: 12px;
  color: #ffffff;
}
// 导航栏文字
.toolbar h4{
  position: absolute;
  top:8px;
  left:50%;
  transform: translateX(-50%);
}

// 产品详情背景
.card {
  width: 90%;
  // height:600px;
  margin: -15px auto;
  border-radius: 5px;
  padding-top: 3px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px -2px #C3D7FF;

}

//产品详情内容
ion-item{
  --padding-end:20px;
}

//第一行样式
.row1 {
  font-size: 16px;
  color: #333333;
  font-weight: bolder;
}
.row1 button{
  padding: 2px 4px;
  background: #5D6DFB;
  border-radius: 5px;
  font-size: 11px;
  color: #FFFEFE;
  line-height: 16px;
  margin-left: 4px;
}

//第二行样式
.row2 {
  height: 55px;
  // font-size: 22px;
  // top: 2px;
}
.sum1 {
  color: #FF1111;
  margin-top: -8px;
}


// 第三行样式
.row3 {
  top: -20px;
}
.title1{
  font-size: 11px;
  color: #999999;
  margin-top: -6px;
}

//第四行样式
.row4 {
  font-size: 16px;
  color: #FF9A11;
  margin-top: -6px;
}
.row5 {
  font-size: 11px;
  color: #999999;
  margin-top: -12px;
}
.title2 {
  margin-top: -16px;
}

//交易规则
.row6 {
  font-size: 13px;
  color: #333333;
  font-weight: bolder;
  top: 0px;
}
.row7{
  color: #666;
  font-size: 12px;
  :before{
    content:"●";
    // width: 30px;
    // height: 30px;
    font-size: 20px;
    border-radius: 50%;
    color: #7970FE;
  }
  span{
    font-size: 16px;
    font-weight: 700px;
    color: #000;
    margin-top: -7px;
  }
  top: -14px;
  
}
.row8{
 
  top: -14px;
 
}

//按钮样式
ion-button {
  //    height: 38px;
  margin-top: 0px;
  background: url('../../../assets/images/登录按钮.png');
  background-size: cover;
  overflow: hidden;
}


// 去掉顶部banner边框
ion-toolbar {
  --padding-start:0px;
  --padding-end:0px;
  --padding-buttom:0px;
  --padding-top:0px;
}

.details{
  width: 316px;
  font-size: 20px;
  height:45px;
  margin: 0px auto;
  background-color: red($color: #000000);
  letter-spacing: 3px;
  z-index: 999999;
  margin-bottom: 50px;
  margin-top: -20px;
}
.rate {
  color: #FD263B ;
  margin-top: -8px;
  margin-right: 84px;;
  // margin-bottom: 10px;
  font-size: 37px;
}
.date {
  color: #FF2511;
  font-size: 22px;
  margin-top: -8px;
}
.title2{
  font-size: 11px;
  color: #999999;
  margin-top: 10px;
}

//按钮
.topButton{
width: 90%;
margin-left: 18px;
 font-size: 18px;
//  position: relative;
 font-weight: 700;
}
//数字表示
.number{
  // align-items: center;
  // margin: 0 auto;
 
  padding-left: 42px;
  ion-text{
    position: relative;
    margin-right: 103px;
    color: #777474;
    font-size: 18px;
    span{
      top:0px;
      right: -20px;
      position: absolute;
      font-size:10px ;
    }
  }
}
