
.toolbar-container{
    background-color: gray !important;
  }
  .toolbar-background{
    background-color: gray !important;
  }

//.tab-button[aria-selected=false] .ion-md-myHome-outline:before {
//  content: url("../../assets/fonts/产品.svg");
//}
//
//.tab-button[aria-selected=true] .ion-md-myHome-outline:before {
//  content: url("../../assets/fonts/产品 (1).svg");
//}
.label_one{
  color: #A1A1A1;
}

.label_two{
  color: #10c689;
}
