// 大盒子
ion-content{
    text-align: center;
  }
  //通栏
  .toolbar{
    width:100%;
    position: relative;
    height: 225px;
    background-image:  url("../../../assets/HdImage//loginBanner.png") ;
    background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
  }
  
  // 去掉顶部banner边框
  ion-toolbar {
    --padding-start:0px;
    --padding-end:0px;
    --padding-buttom:0px;
    --padding-top:0px;
  }
  
  h4 {
   
    font-weight: 700px;
  }
  
  .list-ios{
    margin-bottom: -10px;
  }
  
//logo
.logo{
  position: absolute;
  left:50%;
  top:42%;
  transform: translate(-50%,-50%);
  width: 63px;
  height: 54px;
}
  ion-list{
    text-align: center;
  }
  
  // 输入框项目
  ion-item{
  
    margin: 20px auto;
    border: 1.5px solid #10c689 ;
    width: 83%;
    height: 45px;
    border-radius: 11px;
  
  }
  
  .code{
    position: relative;
  }
  .code-target{
    position: absolute;
    z-index: 99999;
    right: 20px;
    top:12px;
    text-decoration: none;
  
  }
  ion-text{
    font-size: 11px;
    color: #FF0404;
    font-weight: 700;
    letter-spacing: 3px;
  }
  ion-button{
    //    height: 38px;
    margin-top: 0px;
    margin-bottom: 20px;
    // background: url('../../../assets/images/登录按钮.png');
    // background-size: cover;
    // overflow: hidden;
  }
  .button-native{
    background: #ffffff;
  }
  //登录
  //按钮
  .login{
    width: 316px;
    font-size: 18px;
    height:60px;
    margin: 20px auto;
    background-color: red($color: #000000);
    letter-spacing: 3px;
  
  }
 
  .resetPassword{
    width: 83%;
    font-size: 18px;
    height:43px;
    margin: 20px auto;
    background-color: #10c689;
    letter-spacing: 3px;
    border-radius: 7px;
    box-shadow: 0px 4px 10px #333;
  }
  //图标
ion-icon{

  width: 22px;
  height: 22px;
  margin-right: 3px;
 
 }