<ion-header style="margin-top: 10px;">
    <ion-toolbar style="position: relative;">

        <ion-title>我的购物车</ion-title>

    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-card>
        <ion-list *ngFor="let item of  productList">
            <ion-item lines="none">
                <a href="javascript:;" rel="external nofollow" item-end (click)="item.flag = !item.flag" >
                    <ion-icon src="../../assets/HdImage/圆圈.svg" color="dark" class="eye-hide" *ngIf="!item.flag">
                    </ion-icon>　　
                    <ion-icon src="../../assets/HdImage/圆勾.svg" color="dark" class="eye-show" *ngIf="item.flag"></ion-icon>
                    　
                </a>
                <!-- <ion-icon src="../../assets/HdImage/圆圈.svg"></ion-icon>
               <ion-icon src="../../assets/HdImage/圆勾.svg"></ion-icon> -->
                <div class="img" [style.background-image]="  'url(' +item.picUrl + ')'  "> </div>
                <div style="display: flex;flex-direction: column;margin-left: 10px;">
                    <div style="margin-top: 20px;color: #333;font-size: 16px;"> {{item.name}}</div>
                    <div style="margin-top: 40px;display: flex;flex-direction: row">
                        <div>
                            <ion-text style="color: #15c185;"> ￥{{item.money}}</ion-text>
                        </div>
                      
                      <div style="margin-left: 40px;display: flex;flex-direction: row;border: 1px solid rgb(202, 198, 198);border-radius: 4px;">
                          <ion-text style="border-right: 1px solid rgb(202, 198, 198);width: 26px;text-align: center;color: rgb(202, 198, 198);">-</ion-text>
                        <ion-text style="width: 50px;text-align: center;color:#666">1</ion-text>
                        <ion-text style="border-left: 1px solid rgb(202, 198, 198);width: 26px;text-align: center;color: rgb(202, 198, 198);">+</ion-text> 
                      </div>
                            
                        </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-card>
<ion-item lines="none" style="border-top: 1px solid rgb(216, 214, 214);position: fixed;bottom: -63px;width: 100%;">
    <div style="display: flex;flex-direction: row;text-align: center;align-items: center;" >

    <div style="text-align: center;align-items: center;padding-top: 14px;" >
    <a href="javascript:;" rel="external nofollow" item-end (click)="flag=!flag" >
        <ion-icon src="../../assets/HdImage/圆圈.svg" color="dark" class="eye-hide" *ngIf="!flag">
        </ion-icon>　　
        <ion-icon src="../../assets/HdImage/圆勾.svg" color="dark" class="eye-show" *ngIf="flag"></ion-icon>
        　
    </a>
    <ion-text style="margin-top: -5px;">全选</ion-text>
</div>
<div style="margin-left: 100px;padding-top: 21px;">
    <ion-text>合计： <span style="color:#15c185">￥0</span> </ion-text>
    <ion-button color="secondary" style="margin-top:-5px;font-size:16px;width: 90px;border-radius: 10px;margin-left: 10px;" >结算</ion-button>
</div>
</div>
</ion-item>
</ion-content>