//通栏

.toolbar{
  width:100%;
  text-align: center;
  position: relative;
  height: 182px;
  background-image:  url("../../assets/images/开户绑卡banner.png") ;
  background-size: cover;
  -webkit-background-size: cover;
  overflow: hidden;
  margin-bottom: 19px;
}
.toolbar h4{
  position: absolute;
  top:8px;
  left:50%;
  transform: translateX(-50%);
}
//form控制选择框向右
form{
  //padding-left: 20px;
  //padding-top: 20px;
  margin: 20px auto;
}
ion-col {
  margin-top: 10px;
  text-align: center;
  margin-right: 22px;

}

select {
  border: 1px solid #999;
  padding: 0 6px;
  min-width: 80px;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  color:#666666;
  margin-left: 5px;
  margin-top: 6px;

}


// 去掉顶部banner边框
ion-toolbar {
  --padding-start:0px;
  --padding-end:0px;
  --padding-buttom:0px;
  --padding-top:0px;
}

ion-header {
  height: 243px;
}

form{
  padding-top: 0px;
}
.select {
  left:60%;
  transform: translateX(6%);
}


//返回顶部
.bLine {
  //border: 1px solid black;
  font-size: 14px;
  color: #999999;
  margin: 0 auto;
}

.bLine ion-text {
  margin: 20px auto;
}

.list-ios {
  margin-top: -20px;
}

// 去掉toolbar下的边框
.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0 0;
}