<ion-header *ngIf="fl==false" style="height: 0px;">
</ion-header>
<ion-header *ngIf="fl==true" >
  <ion-button   [routerLink]="['/search']" color="white" style="width: 70%;margin-top: 20px;box-shadow: 0 3px 4px 0 rgba(216,211,211,0.50);background-color: rgb(233, 225, 225);border-radius: 10px;height: 30px;color:black;margin-left: 56px;">
    <ion-icon src="../../assets//HdImage/搜索.svg"></ion-icon> 
   <!-- <img src="../../assets//HdImage/搜索.svg" alt=""> -->
   <ion-text>搜索我的订单</ion-text>
 </ion-button>
</ion-header>
<ion-content color="background" [scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">
  <!-- <div class="toolbar">
    <div style="position: absolute;left: 0px;top:35%;width: 100%;"  (click)=" ads()">
      <ion-icon src="../../assets//HdImage/位置.svg" ></ion-icon> 
      <ion-text>{{address}}</ion-text>
      <ion-text style="position: absolute;right: 10px;">hello!{{name}}</ion-text>
    </div>
  </div> -->
  <div style="width: 100%;position: absolute;margin-top: 20px;z-index: 999999;">
  <ion-button [routerLink]="['/search']"  color="white" style="width: 70%;opacity: 0.7;box-shadow: 0 3px 4px 0 rgba(216,211,211,0.50);background-color: #FFF9F9;border-radius: 10px;height: 30px;color:black;margin-left: 35px;">
    <ion-icon src="../../assets//HdImage/搜索.svg"></ion-icon> 
   <!-- <img src="../../assets//HdImage/搜索.svg" alt=""> -->
   <ion-text>鱼香肉丝</ion-text>
 </ion-button>
 <ion-icon (click)=" ads()" src="../../assets//HdImage/位置.svg" style="font-size: 20px;position: relative;right:-10px;top:10px"></ion-icon> 
</div>
  <!-- <div class="align-bottom" #map id="map_container" style="width:100%;height:20vh;"></div> -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="释放刷新"
      refreshingSpinner="circles"
      refreshingText="更新完成">
    </ion-refresher-content>
  </ion-refresher>
  <!-- <div class="slider" style="background-image: url('http://pic2.16pic.com/00/22/04/16pic_2204173_b.jpg');" ></div> -->
<ion-slides #slider  speed=250 lines=none>
  <ion-slide  *ngFor="let product of sliders" [routerLink]="['/product-buy']" [queryParams]="{id:product.id}"  routerLinkActive="router-link-active" no-line>
    <div class="slider" [style.background-image]="  'url(' +product.picUrl + ')'  " >
      <!-- <div class="slider" style="background-image: url('http://pic2.16pic.com/00/22/04/16pic_2204173_b.jpg');" > -->      
    <h6 style="color: #10c689;position: relative;right: 0px;bottom: -131px;">{{product.name}}</h6> 
    <!-- <ion-text >
      <h6 style="margin-left: 280px;margin-top: 170px;color: #0ffebc;">{{product.money}}￥</h6>
      </ion-text> -->
    </div>

      </ion-slide>
</ion-slides>
<ion-row>
<div  class="classify">

<div (click)="classify('美食')">
<span> <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=4060897535,1845380498&fm=26&gp=0.jpg" alt=""> </span><br>
<span> 美食 </span>
</div>
<div (click)="classify('水果')">
  <span> <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3012984294,1066989078&fm=11&gp=0.jpg" alt=""> </span><br>
  <span> 水果 </span>
  </div>
  <div (click)="classify('饮品')">
    <span> <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3562082750,1985959289&fm=26&gp=0.jpg" alt=""> </span><br>
    <span> 茶饮 </span>
    </div>
    <div (click)="classify('新品')">
      <span> <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=4059392886,4105004311&fm=26&gp=0.jpg" alt=""> </span><br>
      <span> 新品 </span>
      </div>

</div>


</ion-row>
<ion-row style="margin: 20px 16px;">
  <ion-text color="dark"  class="text1">美食推荐| <span style="font-size: 12px;color:rgb(133, 130, 130);">  网红美食、用户推荐、店长推荐</span>  </ion-text>
 
</ion-row> 
<app-product-list [productList]="productList"></app-product-list>
<ion-infinite-scroll threshold="10%" (ionInfinite)="ionInfinite($event)">
  <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="加载中...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
  <ion-row class="bLine">
    <ion-text *ngIf="!hasMore" (click)="top()">您已经触底，<a style="color: #10c689;">点击返回顶部</a></ion-text>
  </ion-row>
</ion-content>
