<ion-header style="margin-top: 10px;">
    <ion-toolbar style="position: relative;">

        <ion-title>订单</ion-title>

    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card *ngFor="let item of productList" class="card2" [routerLink]="['/product-details']" [queryParams]="{id:item.id, name:item.name, info:item.description, rate:item.rateReturn, income:item.income, endTime:item.endTime, yesterdayIncome:item.yesterdayIncome, amount:item.nowAmount,productType:item.productType,endTime:item.endTime}"  routerLinkActive="router-link-active">
        <ion-list >
            <ion-item lines="none">
                <ion-label class="row1">{{item.name}}<button *ngIf="item.productType ==1">活期</button>
                    <button *ngIf="item.productType ==0">定期</button></ion-label>
            </ion-item>
            <ion-item lines="none" class="row2">
                <ion-label style="" class="rate">{{item.rateReturn}}%</ion-label>
                <ion-label style="" class="date">￥{{item.income}}</ion-label>
            </ion-item>
            <ion-item lines="none" class="row3">
                <ion-label class="title2">七日年化收益率</ion-label>
                <ion-label class="title2">昨日收益</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>

    <!--    返回顶部-->
    <ion-row class="bLine">
        <ion-text  (click)="top()" style="color: #666;">您已经触底，<a>点击返回顶部</a></ion-text>
    </ion-row>

<!--    <ion-button  color="white" style="color: red;" (click)="top()">返回顶部</ion-button>-->
</ion-content>


