ion-text{
    font-size: 12px;
    color:#666;
}
.router-link-active{
color:#fff;
}
span{
    width: 30%;
    font-size: 13px;
    margin: 20px 20px;
    height: 28px;
   color: #fff;
    background-color: #15c185;
border-radius: 5px;
text-align: center;
padding-top: 5px;
}
