<ion-header style="margin-top: 10px;" no-border>
    <ion-toolbar style="position: relative;">
        <ion-button   [routerLink]="['/search-order']" routerLinkActive="router-link-active" color="white" style="width: 80%;background-color: rgb(228, 220, 220);border-radius: 10px;height: 30px;color:black;margin-left: 35px;">
            <ion-icon src="../../assets//HdImage/搜索.svg"></ion-icon> 
           <!-- <img src="../../assets//HdImage/搜索.svg" alt=""> -->
           <ion-text>搜索我的订单</ion-text>       
         </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item lines="none">
        <span>全部</span>
        <span>待评价</span>
        <span>退款</span>

    </ion-item>
    <app-order [productList]="productList"></app-order>

</ion-content>


