//状态栏
.plt-ios {
    ion-header {
      height: 88px !important;
      padding-top: 44px !important;
      background: linear-gradient(to right, #64C5D8, #5AA2D8);
    }
}
ion-back-button{
  color:pink
}
