// 大盒子
ion-content{
    text-align: center;
}
//通栏
.toolbar{
    width:100%;
    position: relative;
    height: 225px;
    background-image:  url("../../../assets/HdImage/loginBanner.png") ;
    background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
  }

// 去掉顶部banner边框
ion-toolbar {
    --padding-start:0px;
    --padding-end:0px;
    --padding-buttom:0px;
    --padding-top:0px;
}
h3 {
    font-size: 18px;
}

.tips{
    top:-20px;
    font-size: 10px;
    color:#999;
}

//logo
.logo{
    position: absolute;
    left:50%;
    top:42%;
    transform: translate(-50%,-50%);
    width: 63px;
    height: 54px;
  }

// 输入框项目
ion-item{
    margin: 20px auto;
    border: 1.5px solid #10c689 ;
    width: 83%;
    height: 40px;
    border-radius: 11px;
}
//注册
.register{
    width: 83%;
  font-size: 18px;
  height:43px;
  margin: 20px auto;
  background-color: #10c689;
  letter-spacing: 3px;
  border-radius: 7px;
  box-shadow: 0px 4px 10px #333;
  margin-bottom: 30px;

}

.code{
    position: relative;
}
.code-target{
    position: absolute;
    z-index: 99999;
    right: 20px;
    top:12px;
    text-decoration: none;

}
ion-text{
    font-size: 10px;
    color: red;
    font-weight: 700px;
    letter-spacing:3px
}
ion-button{
    margin-top: 0px;
    margin-bottom: 20px;
    // background: url('../../../assets/images/登录按钮.png');
    // background-size: cover;
    // overflow: hidden;

}

//登录
.register{
    width: 83%;
    font-size: 15px;
    height:37px;
    margin: 6px auto;
    margin-top: 15px;
    background-color: red($color: #000000);
    letter-spacing:3px
}

.list-ios{
    margin-bottom: -6px;
}

.login {
    font-size: 15px;
    letter-spacing:3px;
    color:#10c689
}
.agreement{
    font-size: 13px;
    text-decoration: none;
    letter-spacing:3px;
    color:#10c689
}
//图标
ion-icon{

    width: 22px;
    height: 22px;
    margin-right: 3px;
   
   }