<ion-header no-border>
  <ion-toolbar >
  
    <div class="toolbar" >
      <ion-back-button  style="margin-left: -320px;z-index: 9999;color: #ffffff;margin-top: 20px;"></ion-back-button>
      <img class="logo" src="../../../assets/images/logo.png" alt="" >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content style="">
  <div style="text-align: center; padding: 20px 20px 40px 20px;width: 90%; box-shadow: 1px 1px 21px #DAE7FF;margin: 0 auto; position: relative;;">
    <h6 style="letter-spacing:8px">海大点餐app用户协议</h6>

    <ion-text style="font-size: 12px;">
      海大食堂点餐-王奇奇（以下称“ 海食app ”）运营方同意按照本协议的规定及其不时发布的操作规则向用户提供 点餐 服务。为获得点餐服务，点餐 服务使用人（以下称“用户”）需在认真阅读及独立思考的基础上认可、同意本协议的全部条款并按照页面上的提示完成全部的注册程序。用户在进行注册过程中点击“同意”按钮（即表示用户完全接受本服务协议。如用户对本服务协议或协议的任何部分存有任何异议，应终止注册程序（或停止使用点餐服务)
    </ion-text>
    <ion-button  (click)='navigate()' size="small" class="resetPassword" class="agree" style="">同意协议</ion-button>
  </div>
 
</ion-content>