ion-text{
    font-size: 10px;
    color: red;
}
.toolbar{
    width:100%;
   text-align: center;
   position: relative;
    position: relative;
    height: 225px;
    background-image:  url("../../../assets/images/开户绑卡banner.png") ;
    background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
    margin-bottom: 19px;
}
.toolbar h4{
        position: absolute;
       top:8px;
       left:50%;
        transform: translateX(-50%);    
}
ion-list{
    text-align: center;
}
// 输入框项目
ion-item {
  margin: 20px auto;
  border: 1px solid #D65EFA;
  width: 300px;
  height: 40px;
  border-radius: 11px;
}

// form{
//    padding-left: 36px;
//}
 //按钮
.withdraw{
  width: 316px;
  font-size: 15px;
  height:60px;
  margin: 20px auto;
  background-color: red($color: #000000);
  letter-spacing: 3px;
}

// 去掉顶部banner边框
ion-toolbar {
  --padding-start:0px;
  --padding-end:0px;
  --padding-buttom:0px;
  --padding-top:0px;
}

ion-button{
  //    height: 38px;
  margin-top: 0px;
  margin-bottom: 20px;
  background: url('../../../assets/images/登录按钮.png');
  background-size: cover;
  overflow: hidden;
}

.list-ios{
  margin-bottom: 0px;
}
//图标
ion-icon{

  width: 22px;
  height: 22px;
  margin-right: 3px;
 
 }

