    /*
    description
    author:王奇奇
    date:2020/3/16
    */
    .toolbar{
      width:100%;
      text-align: center;
      position: relative;
      position: relative;
      height: 180px;
      // background-image:  url("../../../assets/hdImages/修改密码banner背景.png") ;
      background-image:  url("../../../assets/HdImage/我的背景.png") ;
      background-size: cover;
      -webkit-background-size: cover;
      overflow: hidden;
      margin-bottom: 19px;
  }
  .toolbar h4{
      position: absolute;
      top:8px;
      left:50%;
      transform: translateX(-50%);
         
  }

  //去掉顶部banner边框
  ion-toolbar {
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-buttom: 0px;
    --padding-top: 0px;
    height: 210px;
  }
  
  //去掉toolbar下的边框
  .header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0 0;
  }

  //图标样式
  .icon {
    width: 13px;
    height: 22px;
    margin-right: 3px;
    z-index: 20;
    margin-right: 14px;
   }

  //输入框input
  .i-mobile {
    font-size: 14px;
    font-weight: 700px;
    letter-spacing:2px
  }

  //输入框模块
  ion-item {
    margin: 20px auto;
    border: 1.5px solid #10c689 ;
    width: 300px;
    height: 40px;
    border-radius: 8px;
  }

  //按钮样式
  #button {
    width: 83%;
  font-size: 18px;
  height:43px;
  margin: 20px auto;
  background-color: #10c689;
  letter-spacing: 3px;
  border-radius: 7px;
  box-shadow: 0px 4px 10px #333;
  color: #fff;
  }

  //提示文字样式
  .warnText {
    color: #FF0404;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: -4px;
  }

  //验证码样式
  .code {
    margin-right: -15px;
    margin-top: -4px;
  }

  //输入框位置调整
  ion-input{
    height: 40px;
    margin-top: -4px;
  }