<ion-header no-border>
  <ion-toolbar >
    
    <div class="toolbar" >
      <ion-back-button style="margin-left: -320px;z-index: 9999;color: #ffffff;margin-top: 20px;"></ion-back-button>
         <h4 style="color: #ffffff;">个人信息</h4>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none"  (click)="upload()">
    <img src={{url}} alt="" style="border: 1px solid #10c689;border-radius: 50%;">
    <ion-text>修改头像</ion-text>
    <img src="assets/images2/设置箭头.png" alt="" class="arrow" >
  </ion-item>

  <ion-item lines="none">
    <img src="../../../assets/HdImage/手机.svg" alt="" style="border: 1px solid rgb(238, 235, 235);padding: 5px;border-radius: 50%;
    background: rgb(241, 232, 230);" >
    <ion-text>手机号：{{mobile}}</ion-text>
    <img src="assets/images2/设置箭头.png" alt="" class="arrow"  >
  </ion-item>

  <ion-item lines="none" (click)="modifyName()">
    <img src="assets/HdImage/联系人.svg" alt="" style="border: 1px solid rgb(238, 235, 235);padding: 5px;border-radius: 50%;
    background: rgb(241, 232, 230);">
    <ion-text>姓名：{{name}}</ion-text>
    <img src="assets/images2/设置箭头.png" alt="" class="arrow" >
  </ion-item>

</ion-content>
