<ion-header no-border>
  <ion-toolbar >
    
    <div class="toolbar" >
      <ion-back-button style="margin-left: -320px;z-index: 9999;color: #ffffff;margin-top: 20px;"></ion-back-button>
         <h4 style="color: #ffffff;">充值</h4>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="rechargeForm">
    <ion-list>

      <ion-item>
        <ion-input class="i-mobile" formControlName="text"></ion-input>
        <ion-select formControlName="bankCardNum" >
          <ion-select-option *ngFor="let cardId of cardIds" value="{{cardId.bankCardNum}}" >
            {{cardId.formatName+cardId.formatNum}}
          </ion-select-option>
      </ion-select>
      </ion-item>

      <ion-item>
        <span class="icon"><img src="../../../assets/hdImages/金额icon.png" alt=""></span>
        <ion-input placeholder="请输入充值金额" class="i-mobile" formControlName="money"></ion-input>
        <ion-text *ngIf="money.touched&&money.hasError('required')" class="warnText">*请输入金额</ion-text>
        <ion-text style="color: #999; font-weight: 500;" class="warnText">本卡限额{{limit}}元</ion-text>
      </ion-item> 

      <ion-item>
        <span class="icon"><img src="../../../assets/hdImages/密码icon.png" alt=""></span>
        <ion-input placeholder="请输入交易密码" class="i-mobile" formControlName="password" type="{{pwshow?'text':'password'}}"></ion-input>
        <ion-text *ngIf="password.touched&&password.hasError('pattern')" class="warnText">请输入6位数字密码</ion-text>
      </ion-item>
  
    </ion-list>

    <ion-button (click)="recharge()" expand="block" fill="clear" shape="round" id="button" [disabled]='!rechargeForm.valid' routerLinkActive="router-link-active">
      确认修改
    </ion-button>

  </form>
</ion-content>

