<!-- 
<ion-header no-border>

  <ion-toolbar >
   
  </ion-toolbar>
</ion-header>
 
<!-- 卡片 -->
<!-- <app-product-list [productList]="productList"></app-product-list> -->
<ion-content>
  <div class="toolbar" >
    <ion-back-button style="margin-left: -320px;z-index: 9999;color: #ffffff;margin-top: 20px;"></ion-back-button>
    <h4 style="color: #ffffff;">菜品详情</h4>
  </div>
  <!--产品详情内容-->

  <div class="card">
   
    <ion-list>

   
      <ion-item lines="none" style="margin-top: 20px;">
        <ion-label class="row1">{{products.name}}
          </ion-label>
         
      </ion-item>
      <ion-item lines="none" class="row2">
        <ion-label class="title2">价格</ion-label>
        <ion-label class="title2">月销</ion-label>
      </ion-item>
      <ion-item lines="none" class="row3">
        <ion-label style="" class="rate">{{products.money}}</ion-label>
        <ion-label style="" class="date">{{products.monthSale}}</ion-label>
      </ion-item>
      <ion-item class="row4" >
        <ion-label class="title2">综合评分{{products.star}}</ion-label>
       
      </ion-item>
    
      <ion-item class="number"  style="height: 30px;margin-top: -25px;margin-bottom: -30px;">    <ion-text>$674<span>↑6</span></ion-text> <ion-text>$687<span>↑9</span></ion-text>   </ion-item>  
     
    
     
      <ion-item lines="none">
        <ion-label>菜品介绍</ion-label>
      </ion-item>
      <ion-item >
        <ion-label class="title1">{{products.intro}}</ion-label>
      </ion-item>

      <ion-item lines="none" >
        <ion-label>综合评价</ion-label>
      </ion-item>
      <ion-item  lines="none" class="row7">
        <span style="">低风险:</span>本产品支持账户余额支付。
      
      </ion-item>
     
      <!-- <ion-item  lines="none" class="row7">
        <span style="">低风险:</span>本产品支持账户余额支付。
      
      </ion-item> -->
    </ion-list>
  </div>


 <!--前往购买按钮-->
 <ion-button class='buy' (click)="buy()" style="z-index: 99999999;"  expand="block" color="white" >加入购物车</ion-button>

 
  
</ion-content>


