<ion-header no-border>
  <!--导航栏-->
  <ion-toolbar>
      <div class="toolbar">
          <ion-back-button style="margin-left: -320px;z-index: 9999;color: #ffffff;margin-top: -40px;">
          </ion-back-button>
          <h4 style="color: #ffffff;">收益明细</h4>
          <div style="margin-top: 30px;">
              <ion-text style="font-size: 12px;"> 累计收益(￥)</ion-text><br>
              <ion-text style="font-size: 22px;">
                  ￥ {{balance}}5555
              </ion-text>
          </div>

          <div class="toolbarAcount">

              <div style="display: flex;flex-direction: column;margin-right: 109px;margin-left: -136px;">
                  <ion-text>
                      持仓金额(￥)
                  </ion-text>

                  <ion-text style="font-size: 18px;">
                      ￥ {{amount}}1111
                  </ion-text>
              </div>

              <div style="display: flex;flex-direction: column;margin-left: 62px;margin-right: -135px;">
                  <ion-text>
                      涨幅率(￥)
                  </ion-text>
                  <ion-text style="font-size: 18px;">
                      3%
                  </ion-text>

              </div>
          </div>
      </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item lines="none">
    <ion-label style="font-size: 14px;font-weight: 700;">收益时间：2020-01-02</ion-label>
    <ion-text>+160</ion-text>
  </ion-item>

</ion-content>
